.row{   
display: flex;
    background-color:Red;
    color:white;
    font-size:20px;
}
body{font-family: 'Oxygen', sans-serif;}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}
.rowfooter{
display:flex;
justify-content: space-between;}

.rowcontact{
display:flex;
justify-content: space-between;}





